body {
    background-color: rgb(234, 216, 234);
    color: navy;
    font-family: Arial, sans-serif;
}

section {
    margin: 20px 0;
    padding: 15px;
}

#About {
    background-color: rgb(177, 177, 154);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#Experience {
    background-color: rgb(177, 177, 154);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

#Connect {
    background-color: rgb(177, 177, 154);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: teal;
}

/* Experience */
/* Experience list */

#Experience ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Experience boxes */

#Experience li {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #e6f2ff;
    border: 1px solid #b3d9ff;
    border-radius: 8px;
    font-weight: bold;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Connect */
#Connect ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#Connect li {
    list-style: none;
}

#Connect a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
}

#Connect img {
    width: 40px;
    height: 40px;
    margin: 0;
}

#Connect img:hover {
    transform: scale(1.2);
}